<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaitApp"
        tools:targetApi="31">
        <activity
            android:name=".Negocio.E1_Sala_Neg"
            android:exported="false" />
        <activity
            android:name=".Negocio.RegistrarServicios"
            android:exported="false" />
        <activity
            android:name=".Principal.E1_Servici_Client"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".Cliente.D1_BuscarNeg"
            android:exported="false" />
        <activity
            android:name=".Cliente.E1_Sala_Client"
            android:launchMode="singleTask"
            android:exported="false" />
        <activity
            android:name=".Negocio.C1_Menu_Neg"
            android:exported="false" />
        <activity
            android:name=".Cliente.C1_Menu_Client"
            android:exported="false" />
        <activity
            android:name=".Negocio.B3_Horario"
            android:exported="false" />
        <activity
            android:name=".Negocio.B3_Logo"
            android:exported="false" />
        <activity
            android:name=".Negocio.B2_RegistNeg"
            android:exported="false" />
        <activity
            android:name=".Principal.B1_Login"
            android:exported="false" />
        <activity
            android:name=".Principal.B1_RegistUser"
            android:exported="false" />
        <activity
            android:name=".Principal.A_Bienvenida"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Sistema.Servicios.Notificaciones"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name=".Sistema.Metodos.BrockasAlarma" android:exported="false"/>
    </application>

</manifest>